


html{
    width: auto;
    height: auto;
    
    
    
}

body{

   background-color:#202124;

      
       /* background: rgba(243,248,252,1);
background: -moz-linear-gradient(left, rgba(243,248,252,1) 0%, rgba(172,200,220,0.94) 51%, rgba(215,228,239,0.91) 77%, rgba(224,241,255,0.88) 100%); */

}

/* #ebebeb */

.btn{
    width:200px;
    height:50px;
    background-color:#2ec1ac;
    margin:50px;

}

.contain{
    width:auto;
    height:auto;
    background-color:#202124;
    /* display: inline-block;
    position:relative;
    right: 130px; */
    transform: scale(0.9);
}

.question{
  width:200px;
  height:100px;
}


.importcard{
    
height:min-content;
    width:1450px;
    background-color: #dddddd;
    font-size: 20px;
    padding:10px;
    margin: 10px;
    border-radius: 10px;
    color:#000000;
    display: block;
    position: static;
    margin-left: 25px;
    
    color:Black;
    background: linear-gradient(to right, red 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.6s ease-out;
    /* animation-iteration-count: 1 */
    
    }
#cardbtn{


    

    /* background-color: red; */
    /* font-weight: 100; */
 
    height:40px;
    margin:60px;
    
   

    background-color:transparent;
    border-bottom: 1px solid;
    color: black;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none;
    
font-weight: 30px;
     font-size: 16px;
    border:1px;
 

    font-weight: 200;
 
    border-bottom: 1px solid;

    transition: transform .18s ease-in-out; 

}

.bts{
    height:0px;
    left: 0;
    position: absolute;
    top: 0; 
    width:100%;
    background:black;
}
rect {
    fill: none;
    stroke: black;
    stroke-width: 20;
    stroke-dasharray: 422, 0;
    transition: all 0.18s linear;
  }

#cardbtn:hover{
   
    font-weight: 900;
    letter-spacing: 1px;
    /* transform: scale(1.2); */
    border: 0.25rem solid black;
    
}
rect:hover{
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }

.Ccard{
    position: relative;
    display: inline-block;
    
}

.divcard{
width:1800px;
}

.importcard:hover{
 /* transform: translate(-50px,0); */
 background-position: left bottom;
}
.c_header{
font-size: 20px;
height:100px;
}

@media screen and (min-width: 768px) and (max-width: 991px) { 

    html{
        width: auto;
        height: auto;
        font-family: 'Roboto Condensed', sans-serif;;
        
    }
    
    body{
       background-color:#000000;
      
       
          
           /* background: rgba(243,248,252,1);
    background: -moz-linear-gradient(left, rgba(243,248,252,1) 0%, rgba(172,200,220,0.94) 51%, rgba(215,228,239,0.91) 77%, rgba(224,241,255,0.88) 100%); */
    
    }
    
    /* #ebebeb */
    
    .btn{
        width:20px;
        height:10px;
        background-color:#2ec1ac;
        margin:5px;
    
    }
    
    .contain{
        width:auto;
        height:auto;
        background-color:#000000;
        /* display: inline-block;
        position:relative;
        right: 130px; */
    }
    
    .question{
      width:80px;
      height:30px;
    }
    
    
    /* .importcard{
        
        height:initial;
        width:1500px;
        background-color: #202124;
        font-size: 10px;
        padding:10px;
        margin: 10px;
        border-radius: 10px;
        color:#ffffff
    
        } */
    
    .Ccard{
        position: relative;
        display: inline-block;
        
    }
    
    .divcard{
    width:800px;
    }
    
    .importcard:hover{
        box-shadow:   10px 10px #99a8b2;
    }
    
    .c_header{
    font-size: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    
html{
    width: auto;
    height: auto;
    font-family: 'Roboto Condensed', sans-serif;;
    
}

body{
   background-color:#000000;
  
   
      
       /* background: rgba(243,248,252,1);
background: -moz-linear-gradient(left, rgba(243,248,252,1) 0%, rgba(172,200,220,0.94) 51%, rgba(215,228,239,0.91) 77%, rgba(224,241,255,0.88) 100%); */

}

/* #ebebeb */

.btn{
    width:50px;
    height:20px;
    background-color:#2ec1ac;
    margin:50px;

}

.contain{
    width:auto;
    height:auto;
    background-color:#000000;
    /* display: inline-block;
    position:relative;
    right: 130px; */
}

.question{
  width:140px;
  height:60px;
}

/* 
.importcard{
    
    height:initial;
    width:1200px;
    background-color: #202124;
    font-size: 30px;
    padding:10px;
    margin: 10px;
    border-radius: 10px;
    color:#ffffff

    } */

.Ccard{
    position: relative;
    display: inline-block;
    
}

.divcard{
width:1400px;
}

.importcard:hover{
    box-shadow:   10px 10px #99a8b2;
}

.c_header{
font-size: 10px;
}

}
.questionelement{
width:1500px
}


@keyframes example {
    from {height:initial}
    to {height:fit-content}
  }

.main{
    min-height: 70px;
   
    width:1500px;
    
    font-size: 20px;
    padding:10px;
    margin: 10px;
    border-radius: 10px;
    color:#ffffff;
    display: inline-block;
    position: relative;
    animation-name: example;
    
}

.answerbtn{
    width:100px;
    display: inline-block;
    position: relative;
    left:550px;
}
.afterloginbuttons{
    display: inline-block;
    position: relative;
    left:30px;
}
.card_img{
    width:50px;
    height:50px;
    display: inline-block;
    position: relative;
    left:1300px;
    bottom:70px;
}

.searchInput{
    margin:50px;
    margin-right: 0;
    margin-top:70px;
    height:50px;
    width:100px;
    background-color: white;
    padding:10px;
    display: inline-block;
    position: relative;
    bottom:123px;
    left:176px;
    -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border:double;
  border-right: none;
  border-bottom: none;
}
.searchInput:focus{
    width:500px;
}

/* .searchInput svg{
    height:0px;
    left: 0;
    position: absolute;
    top: 0; 
    width:0;
    background:none;
} */

.searchButton{
    width:60px;
    height:51px;
    padding-left: 1px;
    display: inline-block;
    position: relative;
    bottom:123.4px;
    left:176px;
    background-color: white;
    /* border-color: rgba(255, 255, 255, 0.5); */

    
    border:double;
    border-bottom: none;
    border-left: none;
    }
.drop_down{
    min-width: 180px;
    min-height: 55px;
    width:initial;
    height:initial;
    display:inline-block;
    margin:10px;
    position: relative;
    bottom:124px;
    left:176px
    
    }
    

#tf{
width:300px;
padding:10px;
}
.timer{
    display:inline-block;
    outline:2px solid #000;
    padding:6px
}
.frm{
    height:60px
}
.userprofile{
    font-family: sans-serif;
    color:black;
    font-weight:5000px;
    font-size:12px;
    display:inline-block;
}
.userimageprofile{
    display:inline-block; 
    
    

}
.userimageprofile img{
    border-radius: 170px;
    height:20px;
    width:20px;
    margin:0px;
    margin-right: 10px;
}
.commentsection{
    margin:0;
   font-size: medium;
    font-style: italic;
}
.displayComments{
    display: inline-block;
}

.pagination a {
    color:white;
    padding: 15px;
    border: 0.2rem solid black;
   
    
}
.pagination{
    margin-left: 620px;
}

.cardimg{
    width:300px;
    height:300px;
    margin: 30px;
    transition: 0.5s ease-in-out;
}

.cardimg:hover{
transform: scale(1.25);
}

